 body {
 	margin: 0px;
 }
 
 #myBdLeft {
 	width: 590px;
 	height: 100%;
 	background: #fff;
 	float: left;
 }
 
 #talkBox {
 	text-align: left;
 	margin: 0 0 0 25px;
 }
 
 #msgTxt {
 	width: 540px;
 	height: 80px;
 	overflow: hidden;
 	font-family: Tahoma, Arial;
 	font-size: 14px;
 	border: 1px solid gray;
 }
 
 #talkBox h2 {
 	text-align: left;
 	padding: 5px;
 	margin: 0px;
 	font: normal normal normal 15px 'MicroSoft YaHei', SimHei;
 }
 
 #funBox {
 	width: 540px;
 }
 
 #funBox a {
 	color: #000;
 	text-decoration: none;
 	font-size: 13px;
 }
 
 .creatNew,
 .atSome,
 .insertFace,
 .uploadPic,
 .uploadVideo {
 	background-position: -170px -33px;
 	display: inline-block;
 	height: 16px;
 	padding-left: 18px;
 }
 
 .countTxt {
 	color: #999;
 	float: right;
 	line-height: 33px;
 	margin: 0 15px 0 0;
 }
 
 .countTxt em {
 	font-family: Georgia, Tahoma, Arial;
 	font-size: 26px;
 	position: relative;
 	top: -5px;
 	vertical-align: middle;
 }
 
 .sendBtn {
 	float: right;
 	margin: 0 20px 0 0;
 	padding: 0px;
 	line-height: 33px;
 	margin-left: 14px;
 	height: 30px;
 	width: 112px;
 	border: 0px;
 	cursor: pointer;
 }
 
 #btnCloFri {
 	cursor: pointer;
 }
 
 #myBdRight {
 	background: #CCEBF4;
 	width: 210px;
 	height: 100%;
 	float: right;
 }
 
 .sendBtnHover {
 	background-position: 0 -195px;
 }
 
 #friendDiv {
 	position: absolute;
 	height: 100px;
 	width: 100px;
 	text-align: center;
 }
 
 #friendDiv span {
 	display: block;
 	height: 20px;
 	line-height: 20px;
 	cursor: pointer;
 	background-color: #cbe9f1;
 	border: 1px solid #ccc;
 	border-top: none;
 }
 
 #friendDiv span:hover {
 	background-color: #ddd;
 }
 
 #faceImgDiv {
 	position: absolute;
 	width: 300px;
 	background-color: #fff;
 	border: 2px solid #ccc;
 }